# URL base de la API backend
VITE_API_URL=http://localhost:8080/api

# URL para acceder a las imágenes/archivos subidos
VITE_FILES_URL=http://localhost:8080/api/uploads

# URL para la conexión de WebSockets (STOMP)
VITE_WS_URL=http://localhost:8080/ws
